<fieldset>
<legend>Reports Plugin</legend>
<p>
  <label>witdh:</label><%= text_field_tag 'settings[graph_size_x]', @settings['graph_size_x'], :size => 3 %>px
</p>
<p>
  <label>height:</label><%= text_field_tag 'settings[graph_size_y]', @settings['graph_size_y'], :size => 3 %>px
</p>

</fieldset>


